@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
    font-family: 'Poppins', sans-serif;
}

.container{
        position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.cards {background: #000;
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards:before{
    content: '';
    background: rgba(255,255,255,.1);
    width: 50%;
    height: 100%;
    z-index: 20;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.cards:nth-child(1),.cards:nth-child(1) .overlay{background: linear-gradient(45deg,#3503ad,#f7308c);}
.cards:nth-child(2),.cards:nth-child(2) .overlay{background: linear-gradient(45deg,#ccff00,#09afff);}
.cards:nth-child(3),.cards:nth-child(3) .overlay{background: linear-gradient(45deg,#e91e63,#ffeb3b);}

.imgBx{position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;}
h2{
    margin:10px 0 0;
    padding:0;
    color:#fff;font-weight:700;
    letter-spacing:2px;
    text-transform:uppercase;
}

.overlay{    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 50%;
    transition: 0.3s;}

.overlay:hover{
    bottom: 0;
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    opacity: 0.9;
}

.overlay:before{
    content:'Read';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .5s;
}

.overlay:hover:before{
display:none;
transition-delay:0; 
}

.content{
padding:20px;
box-sizing:border-box;
z-index:1;
pointer-events:none;
opacity:0;
visibility:hidden;
transition:0s;
color:#fff; 
}

.container .cards .overlay:hover ~ .content {
    opacity:1;
    visibility:visible; 
    transition:0.2s; 
    transition-delay:.3s;
}

.content h2{
margin:0;padding:0;
}


















